<h1>Root Route</h1>
<hr />
<h3>Hello, World!</h3>
<p>New Text</p>


<% if @print_name == true %>
  <h3>Vale</h3>
<% else %>
  <h1>No Name</h1>
<% end %>
<%= @babble %>

<a href="/class_member_search">Search</a>
<a href="/class_members">Members List</a>