

<head>
  <title>Contact Me</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" >
 </head>
 
 <body>
  <nav>
    <a href="/">Home</a>
    <a class="my_resume"<a href="current-resume.pdf" target="_blank">My Resume</a>
  </nav>
  
  <form>
   <h3>Contact Form</h3>
   
   <fieldset>
   
    <label>
     Name
     <input type="text" name="name">
    </label>
    
    <label>
     Email Address
     <input type="email" name="email-address">
    </label>
    
    <label>
     <textarea name="message">Add your message here</textarea>
    </label>
    
    <label>
     <input class="submit" type="submit" name="submit" value="Send">
    </label>
    
   </fieldset>
  </form>
 </body>