<head>
  <title>Command Line Cheat Sheet MKDIR</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" >
</head>

<body>
  <header>
    <h1>mkdir</h1>
    <nav></nav>
  </header>
</body>