
<head>
  <title>Command Line Cheat Sheet</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" >
</head>

<body>
  <header>
    <h1>Main Menu</h1>
    <nav>
      <a href="/search"></a>
    </nav>
  </header>
  <hr />

  <ol>
    <li>cp</li>
    <li>ls</li>
    <li>mkdir</li>
    <li>touch</li>
    <li>mv</li>
  </ol>
</body>