<head>
   <title>Ander Rockstad's Foto</title>
     <link rel="stylesheet" type="text/css" href="/stylesheet.css" >
  </head>
  <body>
   <nav>
      <a href="/">Home</a>
      <a class="my_resume"<a href="current-resume.pdf" target="_blank">My Resume</a>
      <a class="contact_me"href="/contact">Contact Me</a>
   </nav>
    
   <div class="photo-ander">
    <h1>Ander!</h1>
    <img class="ander-me" src="anderandme.jpeg" alt="Ander Rockstad">
   </div>
  </body>