
<head>
  <title>Valeria Roca</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" >
</head>

<body>
  <header>
    <nav>
      <a href="/contact">Contact Me</a>
      <a class="my_resume"<a href="current-resume.pdf" target="_blank">My Resume</a>
    </nav>
    
    <div class="my-name">
    <h2>Valeria <img class="my-photo" src="fotoweb.jpg" alt="Valeria Roca's foto"> Carolina</h2>
    <h1>Roca-Rockstad</h1>
    </div>
    <h3 class="developer">< A developing developer ></h3>
   </header>
   
   <section>
    <div class="ul">  
    <ul>
     <li>I have been learning to code for a few months and now I am embarking in a full-stack dev bootcamp at <a href="http://www.devpointlabs.com/" target="_blank">DevPoint Labs</a>.</li>
     <li>I am from Buenos Aires, Argentina, where I lived the majority of my life.</li>
     <li>I also lived in Patagonia for a while.</li>
     <li>I studied Art History at University of Buenos Aires.</li>
     <li>I speak Spanish, Portuguese, basic Quechua, some Italian, horrible French and of course, English.</li>
     <li>I used to do International Trade and Promotion and Managing for my family's company but...</li>
     <li>I then met <a href="/ander_and_me">this cool guy</a>, married him, moved into a van together and since then we've been all over: Texas, Colorado, Alaska, California, Utah, New Mexico, Arizona, Georgia, Mississipi, Argentina again, South Africa, Norway and Mexico.</li>
     <li>I am fortunate to have the most awesome husband ever.</li>
     <li>I have had a plethora of odd jobs while in the US: caregiver for very old folks, nanny, server at hi-end restaurants, hotel housekeeper (obviously influenced by J.Lo and her movies), profesional organizer, trade-show booth builder, construction assistant, and the list goes on.</li>
    </ul>
    </div>
   </section>
   
   <footer>
     <a href="https://www.facebook.com/valcroca" target="_blank"><img class="logo" src="IMG_3099.PNG" alt="facebook logo"></a>
     <a href="https://twitter.com" target="_blank"><img class="logo" src="IMG_3100.PNG" alt="twitter logo"></a>
     <a href="https://github.com/Valcroca" target="_blank"><img class="logo" src="IMG_3101.PNG" alt="github logo"></a>
     <a href="http://bloginstructions.blogspot.com" target="_blank"><img class="logo" src="IMG_3102.PNG" alt="blog logo"></a>
     <a href="http://instagram.com/valcroca" target="_blank"><img class="logo" src="IMG_3105.PNG" alt="instagram logo"></a>
     <a href="https://www.linkedin.com/profile/view?id=AAIAABt-4V0BKrRSXBMLebnF1maTShrvG3XNdkY&trk=nav_responsive_tab_profile" target="_blank"><img class="logo" src="IMG_3104.PNG" alt="linkedin logo"></a>
   </footer>
</body>