<h1>Welcome to your To Do Lists</h1>
<hr />
<!-- list form -->
<form id="create_list_form" action="" method="POST">
  <h3>Create a new List</h3>
  <label for="list_name">Name:</label>
  <input type="text" id="list_name" />
  <br />
  <label for="list_description">Description:</label>
  <input type="text" id="list_description" />
  <br />
  <input type="submit" id="add_list_button" value="Add list" />
</form>
